services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2025-latest
    container_name: sqlserver
    restart: always
    platform: linux/amd64
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: P@ssw0rd123
      MSSQL_PID: Developer
    ports:
      - 1433:1433
    volumes:
      - sqlserver:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost,1433 -U sa -P \"$${MSSQL_SA_PASSWORD}\" -C -Q \"SELECT 1\" || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5      
    networks:
      - todo-network

  init-sqlserver:
    image: mcr.microsoft.com/mssql/server:2025-latest
    depends_on:
      sqlserver:
        condition: service_healthy
    volumes:
      - ./scripts:/init
    command: >
      /opt/mssql-tools18/bin/sqlcmd
      -S sqlserver,1433
      -U sa
      -P P@ssw0rd123
      -C
      -i /init/init-db.sql
    networks:
      - todo-network

  postgres:
    image: postgres:17-bookworm
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak_password
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - todo-network

  todo-auth:
    build:
      context: ./keycloak
      dockerfile: ../.docker/keycloak.dockerfile
    container_name: todo-auth
    restart: always
    command:
      - start-dev
      - --import-realm
    environment:
      # Admin user credentials (for accessing admin console)
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      
      # Database configuration
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak_password
      
      # Development settings
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HEALTH_ENABLED: "true"
      KC_METRICS_ENABLED: "true"
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8180
      KC_PROXY: edge
      
      # Logging
      KC_LOG_LEVEL: info
    ports:
      - 8180:8080
    depends_on: [postgres]
    networks:
      - todo-network

  migrator:
    build:
      context: .
      dockerfile: .docker/migrator.dockerfile
    environment:
      CONNECTION_STRING: Data Source=sqlserver,1433;User ID=sa;Password=P@ssw0rd123;Initial Catalog=todo-db;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;;Persist Security Info=False;
      ASPNETCORE_ENVIRONMENT: Production
    depends_on:
      init-sqlserver:
        condition: service_completed_successfully
    networks:
      - todo-network

  todo-api:
    build:
      context: ./api
      dockerfile: ../.docker/api.dockerfile
    container_name: todo-api
    restart: always
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      CrossOrigins: http://localhost:9001
      Identity__Authority: http://todo-auth:8180/realms/todo
      Identity__Issuer: http://localhost:8180/realms/todo
      Identity__Audiences: account
      ConnectionStrings__TodoDb: Data Source=sqlserver,1433;User ID=sa;Password=P@ssw0rd123;Initial Catalog=todo-db;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;;Persist Security Info=False;
    ports:
      - 9000:8080
    depends_on:
      migrator:
        condition: service_completed_successfully
      todo-auth:
        condition: service_started
    networks:
      - todo-network

  todo-web:
    container_name: todo-web
    restart: always
    build:
      context: ./app
      dockerfile: ../.docker/app.dockerfile
      args:
        KEYCLOAK_URL: http://localhost:8180/
        KEYCLOAK_REALM: todo
        KEYCLOAK_CLIENT_ID: todo-app
        TODO_API: http://localhost:9000 
    ports:
      - 9001:8080    
    depends_on:
      todo-api:
        condition: service_started
    networks:
      - todo-network

volumes:
  sqlserver:
    driver: local
  postgres:
    driver: local

networks:
  todo-network:
    driver: bridge
