@reference "../../app.css";

.text-field {
    @apply rounded-lg outline-0 bg-gray-950 text-white flex flex-row font-normal border border-gray-300 px-4 py-2.5;

    &.focus{
        @apply border-transparent ring-2 ring-red-900 outline-none;
    }

    input {
        @apply w-full bg-transparent outline-0 font-normal text-sm;

        &&::placeholder {
            @apply text-gray-400;
        }
    }
}