@reference "../../app.css";

.text-field {
  @apply flex flex-row rounded-lg border border-gray-300 bg-gray-950 px-4 py-2.5 font-normal text-white outline-0;

  &.focus {
    @apply border-transparent ring-2 ring-red-900 outline-none;
  }

  input {
    @apply w-full bg-transparent text-sm font-normal outline-0;

    &&::placeholder {
      @apply text-gray-400;
    }
  }
}
