@reference "../../../../app.css";

.login-container {
  @apply mx-6 flex h-screen w-full flex-col items-center justify-center gap-3 lg:mx-0;

  .intro-message {
    @apply text-center text-3xl leading-9 italic;
  }

  .login-button {
    @apply cursor-pointer rounded bg-blue-600 px-4 py-2 font-bold text-white hover:bg-blue-700;
  }
}
