@reference "../../app.css";

.select-field {
    @apply w-full rounded-lg border border-gray-300 px-4 py-2.5 bg-gray-950;
    .select-field-input {
        @apply min-w-[160px] outline-0 bg-transparent text-white relative flex flex-row justify-between align-middle font-normal text-sm appearance-none;
    }

    &.focus{
        @apply border-transparent ring-2 ring-red-900 outline-none;
    }

    option {
        @apply text-gray-950;
    }

    .chevron-icon {
        @apply pointer-events-none absolute inset-y-0 right-2 flex items-center;
    }
}