@reference "../../app.css";

.welcome-message {
  @apply mt-3 w-full text-end text-2xl text-white;

  span {
    @apply pr-5 font-bold;
  }
}

.logout {
  @apply mt-3 mr-4 flex cursor-pointer flex-row gap-2 rounded-lg bg-blue-950 px-4 py-1.5 align-middle;

  span {
    @apply hidden md:block;
  }

}
