.bubble-loader {
  @apply flex h-12 items-center justify-center;

  .bubble {
    @apply h-4 w-4 rounded-full bg-gray-500;
    margin: 0 0.2rem;
    animation: pulse 1.1s infinite ease-in-out;
  }

  .bubble-1 {
    animation-delay: 0s;
  }

  .bubble-2 {
    animation-delay: 0.15s;
  }

  .bubble-3 {
    animation-delay: 0.3s;
  }

  @keyframes pulse {
    0%,
    80%,
    100% {
      transform: scale(0.6);
      opacity: 0.2;
    }
    40% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
